In [1]:
import dash
import dash_bootstrap_components as dbc
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import dash_table
import pandas as pd
import sqlite3
import os

In [8]:
conn = sqlite3.connect('Songs.db')
c = conn.cursor()
# Create table - CLIENTS
c.execute('''CREATE TABLE Songs
             ([generated_id] INTEGER PRIMARY KEY,[Song_Name] text, [Artist_Name] text, [Year] date, [Other] text)''')
conn.commit()

In [10]:
import plotly.graph_objs as go
conn = sqlite3.connect("Songs.db")
c = conn.cursor()

df = pd.read_sql("select * from Songs", conn)
df.head(1)

,generated_id,Song_Name,Artist_Name,Year,Other
0,1,"""A' Soalin'""","Peter, Paul & Mary",1963,From the album Moving. Written by Paul Stookey...

In [9]:
 # The database will be saved in the location where your 'py' file is saved
read_songs = pd.read_csv('Chrismas_Songs.csv')
read_songs.to_sql('Songs', conn, if_exists='append', index = False) # Insert the values from the csv file into the table 'CLIENTS'